body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images7.alphacoders.com/106/1069906.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  border-image: fill 0 linear-gradient (#0003, #000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  z-index: 2;

}

.kingdice {
  z-index: -1;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 750px;
  top: -19.5%;
  position: absolute;
  left: 6.5%;
  width: 90%;
  overflow: hidden;

}

.kingdice img {
  width: 90%;
  height: 730px;
}

.container-c {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20%;
  width: 100%;
  height: 500px;
}

.foto {
  display: flex;
  margin: auto;
  float: left;

}

button {
 
  transition: .3s ease-in-out;
  font-weight: bolder;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
  background: none;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1rem;

  background-color: rgb(212, 153, 25);
  transition: background-color color .3s ease-in-out;
  color: aliceblue;
  border: 1px solid black;
  background: linear-gradient(145deg, #000000, #000000);
  box-shadow: 20px 20px 60px #000000,
    -20px -20px 60px #000000;

}
h2{
  color: white ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  /*SI NO TE GUSTA QUITA LO DE ABAJO*/
  background-color: #00000063;
  border: 2px solid black;
  padding: 0.7em;
  border-radius: 10px;
  text-align: center;
  /*HASTA AQUI*/


}

.carta{
  width: 100%;
  padding-right: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mensajes{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
  text-align: center;
  font-size: 1em;
  margin: auto;
  width: 50%;
  border-radius: 10px;
  font-weight: lighter;

}
@media screen and (max-width:768px){
  html{
    box-sizing: border-box;
    
  }
  body {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://images7.alphacoders.com/106/1069906.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: hidden; 
    background-position: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .root {
    z-index: 2;
  
  }
  
  .kingdice {
    z-index: -1;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 490px;
    top: -30%;
    position: absolute;
    left: 6.5%;
    width: 90%;
    overflow: hidden;
  
  }
  
  .kingdice img {
    width: 90%;
    height: 730px;
  }
  
  .container-c {
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20%;
    width: 100%;
    height: 500px;
  }
  
  .foto {
    display: flex;
    margin: auto;
    float: left;
  
  }
  
  button {
   
    transition: .3s ease-in-out;
    font-weight: bolder;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  button:hover {
    background: none;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1rem;
  
    background-color: rgb(212, 153, 25);
    transition: background-color color .3s ease-in-out;
    color: aliceblue;
    border: 1px solid black;
    background: linear-gradient(145deg, #000000, #000000);
    box-shadow: 20px 20px 60px #000000,
      -20px -20px 60px #000000;
  
  }
  h2{
    color: white ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    /*SI NO TE GUSTA QUITA LO DE ABAJO*/
    background-color: #00000063;
    border: 2px solid black;
    padding: 0.7em;
    border-radius: 10px;
    text-align: center;
    /*HASTA AQUI*/
  
  
  }
  
  .carta{
    width: 100%;
    padding-right: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mensajes{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
    text-align: center;
    font-size: 1em;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    font-weight: lighter;
  
  }
}